.container {
  display: flex;
  place-items: center;
  min-height: 75vh;
  width: 100%;
}

.loader {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 12px solid #d1d5db;
  border-radius: 50%;
  border-top: 12px solid var(--primary-color);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
