.card_container {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-width: 100%;
}

.products {
  margin-bottom: 5rem;
  /* width: 100%; */
}

.loader_container {
  margin-left: 18.5vw;
  width: 80%;
  height: 80vh;
}

.pointer {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    place-items: center;
    margin-left: 18.5vw;
  }

  .products {
    margin: 0 1.5rem 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem 0.75rem;
    max-width: 1200px;
  }

  .products {
    margin: 0 1.5rem 3rem;
  }
}
