.card_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.products {
  margin-bottom: 5rem;
}

.pointer {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    place-items: center;
    max-width: 1200px;
  }

  .products {
    margin: 0 1.5rem 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem 0.75rem;
    place-items: center;
    max-width: 1200px;
    margin-left: 18.5vw;
  }

  .products {
    margin: 0 1.5rem 3rem;
  }
}
